In [1]:
import pandas as pd

In [2]:
# de targetvariabele is de echte tijd tegenover de voorspelde tijd
df = pd.read_csv('sap_storing_data_hu_project.csv')

/Users/quinndegroot/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (0,11,19,21,24,25,27,32,33,36,37,38,39,40,46,47,48,49,51,53,55,56,60,73,75,78,80,82,83,86,87,91,95,99,102,103,104,107,108,109,110,111,112,113,116,118,119,120,121,122,123,124,129) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = df.drop(['stm_sap_mon_meld_ddt', 'stm_mon_begin_ddt', 'stm_mon_toelichting_trdl', 'stm_oh_pg_mld', 
         'stm_scenario_mon', 'stm_mon_nr_status_omschr', 'stm_mon_nr__statuscode', 'stm_mon_nr_status_wijzdd', 
         'stm_aanntpl_ddt', 'stm_objectdl_code_gst', 'stm_objectdl_groep_gst', 'stm_progfh_in_ddt', 
         'stm_progfh_in_invoer_ddt', 'stm_progfh_gw_ddt', 'stm_progfh_gw_lwd_ddt', 'stm_progfh_hz', 
         'stm_veroorz_groep', 'stm_veroorz_code', 'stm_veroorz_tekst_kort', 'stm_effect', 'stm_afspr_aanvangddt', 
         'stm_mon_eind_ddt', 'stm_mon_vhdsincident', 'stm_dir_betrok_tr', 'stm_aangelegd_dd', 'stm_aangelegd_tijd',
         'stm_mon_begindatum', 'stm_mon_begintijd', 'stm_progfh_gw_datum', 'stm_mon_eind_datum',
         'stm_mon_eind_tijd', 'stm_controle_dd', 'stm_akkoord_mon_toewijz', 'stm_status_sapnaarmon',
         'stm_fact_jn', 'stm_akkoord_melding_jn', 'stm_afsluit_ddt', 'stm_afsluit_dd', 'stm_afsluit_tijd',
         'stm_rec_toegev_ddt', 'stm_hinderwaarde', 'stm_actie', 'stm_standplaats', 'stm_status_gebr',
         'stm_wbi_nummer', 'stm_projnr', 'stm_historie_toelichting', 'stm_schade_verhaalb_jn', 'stm_schadenr',
         'stm_schade_status_ga', 'stm_schade_statusdatum', 'stm_relatiervo_vorig', 'stm_relatiervo_volgend',
         'stm_relatiervo', 'stm_afspr_func_hersteldd', 'stm_afspr_func_hersteltijd', 'stm_sorteerveld',
         'stm_rapportage_maand', 'stm_rapportage_jaar', 'stm_x_bron_publ_dt', 'stm_x_bron_bestandsnaam',
         'stm_x_bron_arch_dt', 'stm_x_actueel_ind', 'stm_x_run_id', 'stm_x_bk', 'stm_x_start_sessie_dt',
         'stm_x_vervallen_ind'], axis='columns')

In [4]:
df

,Unnamed: 0,#stm_sap_meldnr,stm_mon_nr,stm_vl_post,stm_sap_meld_ddt,stm_sap_meldtekst_lang,stm_sap_meldtekst,stm_geo_mld,stm_geo_mld_uit_functiepl,stm_equipm_nr_mld,...,stm_fh_tijd,stm_fh_duur,stm_reactie_duur,stm_sap_storeinddatum,stm_sap_storeindtijd,stm_oorz_tekst_kort,stm_pplg_van,stm_pplg_naar,stm_dstrglp_van,stm_dstrglp_naar
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,50053211,0.0,NaN,02/01/2006 09:00:00,Logboeknr Geeltje : 49 Tijd: 0900 VL-Po...,Logboeknr Geeltje : 49 Tijd: 0900,624,624.0,NaN,...,09:00:00,0.0,1.000000e+08,02/01/2006,09:00:00,NaN,NaN,NaN,NaN,NaN
2,2,50053213,48.0,GN,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-Post: ...,Logboeknr RBV : 48 Tijd: 1235 VL-P,201,201.0,NaN,...,13:26:00,51.0,1.000000e+08,02/01/2006,13:26:00,schapen op de spoorbaan!,NaN,NaN,Lp,Apg
3,3,50053214,72.0,ZL,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-Post: ...,Logboeknr RBV : 72 Tijd: 1640 VL-P,25,25.0,NaN,...,17:20:00,40.0,1.000000e+08,02/01/2006,17:20:00,Persoon langs de baan,NaN,NaN,Hgl,NaN
4,4,50053215,96.0,ZL,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-Post: ...,Logboeknr RBV : 96 Tijd: 2230 VL-P,12,12.0,NaN,...,22:36:00,6.0,1.000000e+08,02/01/2006,22:36:00,Bijna aanrijding met persoon,NaN,NaN,Hgv,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898521,908625,99003505,0.0,NaN,11/05/2013 08:06:00,GVC : sp-2 en 3 stop lampen op de stootjukke...,GVC : sp-2 en 3 stop lampen op de stoot,560,560.0,NaN,...,09:29:00,83.0,5.900000e+01,11/05/2013,09:30:00,NaN,NaN,NaN,NaN,11/05/2013
898522,908626,99003506,0.0,NaN,11/05/2013 09:21:00,Whz : Ovw 100.1 albert Plesmanweg blijft dic...,Whz : Ovw 100.1 albert Plesmanweg blijft,468,468.0,10021085.0,...,10:44:00,83.0,4.700000e+01,11/05/2013,10:44:00,NaN,NaN,NaN,NaN,NaN
898523,908627,99003506,0.0,NaN,11/05/2013 09:21:00,Whz : Ovw 100.1 albert Plesmanweg blijft dic...,Whz : Ovw 100.1 albert Plesmanweg blijft,468,468.0,10021085.0,...,10:44:00,83.0,4.700000e+01,11/05/2013,10:44:00,NaN,NaN,NaN,NaN,00/00/0000
898524,908628,99999999,0.0,NaN,20/08/2016 14:15:17,Bdg-Apn : Km 12.7 twee gedode zwanen langs het...,Bdg-Apn : Km 12.7 twee gedode zwanen lan,102,102.0,NaN,...,15:14:00,19.0,1.060125e+09,20/08/2016,15:15:00,Gestoord object: SPOOR LA. Gestoord onde,NaN,NaN,NaN,NaN
898525,908629,99999999,0.0,NaN,20/08/2016 14:15:17,Bdg-Apn : Km 12.7 twee gedode zwanen langs het...,Bdg-Apn : Km 12.7 twee gedode zwanen lan,102,102.0,NaN,...,15:14:00,19.0,1.060125e+09,20/08/2016,15:15:00,Gestoord object: SPOOR LA. Gestoord onde,NaN,NaN,NaN,NaN

In [31]:
data = df[['stm_sap_meld_ddt', 'stm_aanntpl_dd', 'stm_aanntpl_tijd', 'stm_progfh_in_invoer_tijd', 'stm_progfh_in_duur', 'stm_fh_ddt', 'stm_sap_storeind_ddt', 'stm_fh_duur']]
data

,stm_sap_meld_ddt,stm_aanntpl_dd,stm_aanntpl_tijd,stm_progfh_in_invoer_tijd,stm_progfh_in_duur,stm_fh_ddt,stm_sap_storeind_ddt,stm_fh_duur
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02/01/2006 09:00:00,NaN,00:00:00,00:00:00,1e+08,02/01/2006 09:00:00,02/01/2006 09:00:00,0.0
2,02/01/2006 12:35:00,NaN,00:00:00,00:00:00,1e+08,02/01/2006 13:26:00,02/01/2006 13:26:00,51.0
3,02/01/2006 16:40:00,NaN,00:00:00,00:00:00,1e+08,02/01/2006 17:20:00,02/01/2006 17:20:00,40.0
4,02/01/2006 22:30:00,NaN,00:00:00,00:00:00,1e+08,02/01/2006 22:36:00,02/01/2006 22:36:00,6.0
...,...,...,...,...,...,...,...,...
898521,11/05/2013 08:06:00,11/05/2013,09:05:00,09:26:18,30,11/05/2013 09:29:00,11/05/2013 09:30:00,83.0
898522,11/05/2013 09:21:00,11/05/2013,10:08:00,10:16:27,52,11/05/2013 10:44:00,11/05/2013 10:44:00,83.0
898523,11/05/2013 09:21:00,11/05/2013,10:08:00,10:16:27,52,11/05/2013 10:44:00,11/05/2013 10:44:00,83.0
898524,20/08/2016 14:15:17,20/08/2016,14:45:00,15:16:29,75,20/08/2016 15:14:00,20/08/2016 15:15:00,19.0
898525,20/08/2016 14:15:17,20/08/2016,14:45:00,15:16:29,75,20/08/2016 15:14:00,20/08/2016 15:15:00,19.0

In [35]:
data = data.dropna()
data['stm_aanntpl_ddt'] = data['stm_aanntpl_dd']+' '+data['stm_aanntpl_tijd']
data

,stm_sap_meld_ddt,stm_aanntpl_dd,stm_aanntpl_tijd,stm_progfh_in_invoer_tijd,stm_progfh_in_duur,stm_fh_ddt,stm_sap_storeind_ddt,stm_fh_duur,stm_aanntpl_ddt
32099,12/06/2012 20:50:00,13/06/2012,05:05:00,10:01:18,40,13/06/2012 05:45:00,13/06/2012 06:00:00,43.0,13/06/2012 05:05:00
95714,19/07/2016 09:05:37,19/07/2016,00:30:00,09:05:37,270,19/07/2016 04:00:00,19/07/2016 09:10:00,1012.0,19/07/2016 00:30:00
95715,19/07/2016 09:05:37,19/07/2016,00:30:00,09:05:37,270,19/07/2016 04:00:00,19/07/2016 09:10:00,1012.0,19/07/2016 00:30:00
98260,09/09/2016 10:11:31,24/08/2016,01:00:00,10:11:31,180,24/08/2016 04:00:00,09/09/2016 10:12:31,593.0,24/08/2016 01:00:00
98261,09/09/2016 10:11:31,24/08/2016,01:00:00,10:11:31,180,24/08/2016 04:00:00,09/09/2016 10:12:31,592.0,24/08/2016 01:00:00
...,...,...,...,...,...,...,...,...,...
898521,11/05/2013 08:06:00,11/05/2013,09:05:00,09:26:18,30,11/05/2013 09:29:00,11/05/2013 09:30:00,83.0,11/05/2013 09:05:00
898522,11/05/2013 09:21:00,11/05/2013,10:08:00,10:16:27,52,11/05/2013 10:44:00,11/05/2013 10:44:00,83.0,11/05/2013 10:08:00
898523,11/05/2013 09:21:00,11/05/2013,10:08:00,10:16:27,52,11/05/2013 10:44:00,11/05/2013 10:44:00,83.0,11/05/2013 10:08:00
898524,20/08/2016 14:15:17,20/08/2016,14:45:00,15:16:29,75,20/08/2016 15:14:00,20/08/2016 15:15:00,19.0,20/08/2016 14:45:00
898525,20/08/2016 14:15:17,20/08/2016,14:45:00,15:16:29,75,20/08/2016 15:14:00,20/08/2016 15:15:00,19.0,20/08/2016 14:45:00

In [6]:
data['stm_fh_ddt']= pd.to_datetime(df['stm_fh_ddt'], dayfirst=True)
data['stm_sap_meld_ddt']= pd.to_datetime(data['stm_sap_meld_ddt'], dayfirst=True)
data['stm_aanntpl_ddt']
data

<ipython-input-6-9907f7719398>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['stm_fh_ddt']= pd.to_datetime(df['stm_fh_ddt'], dayfirst=True)
<ipython-input-6-9907f7719398>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['stm_sap_meld_ddt']= pd.to_datetime(data['stm_sap_meld_ddt'], dayfirst=True)

,stm_sap_meld_ddt,stm_aanntpl_dd,stm_aanntpl_tijd,stm_progfh_in_invoer_tijd,stm_progfh_in_duur,stm_fh_ddt,stm_sap_storeind_ddt,stm_fh_duur
0,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,2006-01-02 09:00:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 09:00:00,02/01/2006 09:00:00,0.0
2,2006-01-02 12:35:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 13:26:00,02/01/2006 13:26:00,51.0
3,2006-01-02 16:40:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 17:20:00,02/01/2006 17:20:00,40.0
4,2006-01-02 22:30:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 22:36:00,02/01/2006 22:36:00,6.0
...,...,...,...,...,...,...,...,...
898521,2013-05-11 08:06:00,11/05/2013,09:05:00,09:26:18,30,2013-05-11 09:29:00,11/05/2013 09:30:00,83.0
898522,2013-05-11 09:21:00,11/05/2013,10:08:00,10:16:27,52,2013-05-11 10:44:00,11/05/2013 10:44:00,83.0
898523,2013-05-11 09:21:00,11/05/2013,10:08:00,10:16:27,52,2013-05-11 10:44:00,11/05/2013 10:44:00,83.0
898524,2016-08-20 14:15:17,20/08/2016,14:45:00,15:16:29,75,2016-08-20 15:14:00,20/08/2016 15:15:00,19.0
898525,2016-08-20 14:15:17,20/08/2016,14:45:00,15:16:29,75,2016-08-20 15:14:00,20/08/2016 15:15:00,19.0

In [7]:
data.loc[898513]

stm_sap_meld_ddt             2013-05-11 07:17:00
stm_aanntpl_dd                        13/05/2013
stm_aanntpl_tijd                        01:00:00
stm_progfh_in_invoer_tijd               02:40:55
stm_progfh_in_duur                            90
stm_fh_ddt                   2013-05-13 02:29:00
stm_sap_storeind_ddt         13/05/2013 02:30:00
stm_fh_duur                                 2592
Name: 898513, dtype: object

In [8]:
data['realduur'] = (data['stm_fh_ddt']- data['stm_sap_meld_ddt']).dt.total_seconds().div(60)
data

<ipython-input-8-cb15d6974a0c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['realduur'] = (data['stm_fh_ddt']- data['stm_sap_meld_ddt']).dt.total_seconds().div(60)

,stm_sap_meld_ddt,stm_aanntpl_dd,stm_aanntpl_tijd,stm_progfh_in_invoer_tijd,stm_progfh_in_duur,stm_fh_ddt,stm_sap_storeind_ddt,stm_fh_duur,realduur
0,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,2006-01-02 09:00:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 09:00:00,02/01/2006 09:00:00,0.0,0.000000
2,2006-01-02 12:35:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 13:26:00,02/01/2006 13:26:00,51.0,51.000000
3,2006-01-02 16:40:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 17:20:00,02/01/2006 17:20:00,40.0,40.000000
4,2006-01-02 22:30:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 22:36:00,02/01/2006 22:36:00,6.0,6.000000
...,...,...,...,...,...,...,...,...,...
898521,2013-05-11 08:06:00,11/05/2013,09:05:00,09:26:18,30,2013-05-11 09:29:00,11/05/2013 09:30:00,83.0,83.000000
898522,2013-05-11 09:21:00,11/05/2013,10:08:00,10:16:27,52,2013-05-11 10:44:00,11/05/2013 10:44:00,83.0,83.000000
898523,2013-05-11 09:21:00,11/05/2013,10:08:00,10:16:27,52,2013-05-11 10:44:00,11/05/2013 10:44:00,83.0,83.000000
898524,2016-08-20 14:15:17,20/08/2016,14:45:00,15:16:29,75,2016-08-20 15:14:00,20/08/2016 15:15:00,19.0,58.716667
898525,2016-08-20 14:15:17,20/08/2016,14:45:00,15:16:29,75,2016-08-20 15:14:00,20/08/2016 15:15:00,19.0,58.716667

In [9]:
data.loc[898513]

stm_sap_meld_ddt             2013-05-11 07:17:00
stm_aanntpl_dd                        13/05/2013
stm_aanntpl_tijd                        01:00:00
stm_progfh_in_invoer_tijd               02:40:55
stm_progfh_in_duur                            90
stm_fh_ddt                   2013-05-13 02:29:00
stm_sap_storeind_ddt         13/05/2013 02:30:00
stm_fh_duur                                 2592
realduur                                    2592
Name: 898513, dtype: object

In [10]:
data

,stm_sap_meld_ddt,stm_aanntpl_dd,stm_aanntpl_tijd,stm_progfh_in_invoer_tijd,stm_progfh_in_duur,stm_fh_ddt,stm_sap_storeind_ddt,stm_fh_duur,realduur
0,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,2006-01-02 09:00:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 09:00:00,02/01/2006 09:00:00,0.0,0.000000
2,2006-01-02 12:35:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 13:26:00,02/01/2006 13:26:00,51.0,51.000000
3,2006-01-02 16:40:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 17:20:00,02/01/2006 17:20:00,40.0,40.000000
4,2006-01-02 22:30:00,NaN,00:00:00,00:00:00,1e+08,2006-01-02 22:36:00,02/01/2006 22:36:00,6.0,6.000000
...,...,...,...,...,...,...,...,...,...
898521,2013-05-11 08:06:00,11/05/2013,09:05:00,09:26:18,30,2013-05-11 09:29:00,11/05/2013 09:30:00,83.0,83.000000
898522,2013-05-11 09:21:00,11/05/2013,10:08:00,10:16:27,52,2013-05-11 10:44:00,11/05/2013 10:44:00,83.0,83.000000
898523,2013-05-11 09:21:00,11/05/2013,10:08:00,10:16:27,52,2013-05-11 10:44:00,11/05/2013 10:44:00,83.0,83.000000
898524,2016-08-20 14:15:17,20/08/2016,14:45:00,15:16:29,75,2016-08-20 15:14:00,20/08/2016 15:15:00,19.0,58.716667
898525,2016-08-20 14:15:17,20/08/2016,14:45:00,15:16:29,75,2016-08-20 15:14:00,20/08/2016 15:15:00,19.0,58.716667

In [11]:
data.loc[(data['realduur']>data['stm_fh_duur'])]

,stm_sap_meld_ddt,stm_aanntpl_dd,stm_aanntpl_tijd,stm_progfh_in_invoer_tijd,stm_progfh_in_duur,stm_fh_ddt,stm_sap_storeind_ddt,stm_fh_duur,realduur
14,2006-01-03 13:33:00,NaN,00:00:00,00:00:00,1e+08,2006-01-03 13:34:00,03/01/2006 13:34:00,1.0,1.000000
26,2006-01-04 20:00:00,NaN,00:00:00,00:00:00,1e+08,2006-01-04 20:08:00,04/01/2006 20:08:00,8.0,8.000000
29,2006-01-04 13:10:00,NaN,00:00:00,00:00:00,1e+08,2006-01-04 14:15:00,04/01/2006 14:15:00,65.0,65.000000
57,2006-01-08 16:09:00,NaN,00:00:00,00:00:00,1e+08,2006-01-08 17:13:00,09/01/2006 12:21:00,64.0,64.000000
63,2006-01-07 11:50:00,NaN,00:00:00,00:00:00,1e+08,2006-01-07 12:54:00,11/01/2006 11:31:00,64.0,64.000000
...,...,...,...,...,...,...,...,...,...
898493,2013-05-10 21:44:00,10/05/2013,22:28:00,23:45:27,77,2013-05-10 23:46:00,10/05/2013 23:46:00,122.0,122.000000
898508,2013-05-11 06:44:00,11/05/2013,07:44:00,07:58:00,4,2013-05-11 07:47:00,NaN,63.0,63.000000
898509,2013-05-11 06:44:00,11/05/2013,07:44:00,07:58:00,4,2013-05-11 07:47:00,NaN,63.0,63.000000
898524,2016-08-20 14:15:17,20/08/2016,14:45:00,15:16:29,75,2016-08-20 15:14:00,20/08/2016 15:15:00,19.0,58.716667
898525,2016-08-20 14:15:17,20/08/2016,14:45:00,15:16:29,75,2016-08-20 15:14:00,20/08/2016 15:15:00,19.0,58.716667

In [12]:
data =data.loc[(data['stm_progfh_in_duur']== '       16-' )]
data

,stm_sap_meld_ddt,stm_aanntpl_dd,stm_aanntpl_tijd,stm_progfh_in_invoer_tijd,stm_progfh_in_duur,stm_fh_ddt,stm_sap_storeind_ddt,stm_fh_duur,realduur
143225,2015-05-28 04:58:00,28/05/2015,05:16:00,05:20:28,16-,2015-05-28 05:19:00,28/05/2015 05:20:00,14.0,21.0
143226,2015-05-28 04:58:00,28/05/2015,05:16:00,05:20:28,16-,2015-05-28 05:19:00,28/05/2015 05:20:00,14.0,21.0
271285,2007-06-18 10:21:00,18/06/2007,10:40:00,10:49:35,16-,2007-06-18 10:40:00,NaN,17.0,19.0
274478,2007-07-15 11:00:00,15/07/2007,11:16:00,11:19:10,16-,2007-07-16 11:48:00,16/07/2007 11:50:00,1488.0,1488.0
281685,2007-09-23 05:00:00,23/09/2007,05:36:00,05:49:27,16-,2007-09-23 06:05:00,23/09/2007 06:06:00,62.0,65.0
294818,2008-01-29 13:02:00,30/01/2008,06:46:00,06:54:02,16-,2008-01-30 06:49:00,30/01/2008 06:50:00,1067.0,1067.0
302188,2008-04-12 10:00:00,12/04/2008,10:20:00,10:21:00,16-,2008-04-12 10:20:00,13/04/2008 06:01:00,17.0,20.0
305095,2008-05-09 22:20:00,11/05/2008,22:31:00,22:51:12,16-,2008-05-11 22:34:00,NaN,2894.0,2894.0
308912,2008-06-10 22:48:00,11/06/2008,00:26:00,00:27:43,16-,2008-06-11 00:26:00,11/06/2008 10:00:00,17.0,98.0
315384,2008-08-07 09:58:00,07/08/2008,10:22:00,10:22:18,16-,2008-08-07 10:40:00,07/08/2008 10:41:00,39.0,42.0
318407,2008-09-05 11:21:00,05/09/2008,11:51:00,12:00:08,16-,2008-09-05 11:51:00,05/09/2008 14:25:00,28.0,30.0
326141,2008-11-19 11:53:00,19/11/2008,12:10:00,12:10:54,16-,2008-11-19 14:00:00,19/11/2008 14:00:00,127.0,127.0
330133,2008-12-25 23:42:00,26/12/2008,00:31:00,00:49:23,16-,2008-12-26 01:15:00,26/12/2008 01:15:00,93.0,93.0
332775,2009-01-17 17:56:00,17/01/2009,18:13:00,18:13:12,16-,2009-01-17 18:13:00,17/01/2009 21:06:00,17.0,17.0
333440,2009-01-23 16:03:00,23/01/2009,16:22:00,16:22:27,16-,2009-01-24 09:22:00,24/01/2009 09:22:00,1037.0,1039.0
367065,2009-12-07 05:27:00,07/12/2009,05:46:00,05:50:38,16-,2009-12-07 05:46:00,09/12/2009 12:32:00,18.0,19.0
372248,2010-01-07 14:19:00,07/01/2010,14:51:00,14:35:18,16-,2010-01-07 14:51:00,07/01/2010 14:51:00,32.0,32.0

In [13]:
data.loc[(data['realduur']<data['stm_fh_duur'])]

Empty DataFrame
Columns: [stm_sap_meld_ddt, stm_aanntpl_dd, stm_aanntpl_tijd, stm_progfh_in_invoer_tijd, stm_progfh_in_duur, stm_fh_ddt, stm_sap_storeind_ddt, stm_fh_duur, realduur]
Index: []

In [14]:
data.dtypes

stm_sap_meld_ddt             datetime64[ns]
stm_aanntpl_dd                       object
stm_aanntpl_tijd                     object
stm_progfh_in_invoer_tijd            object
stm_progfh_in_duur                   object
stm_fh_ddt                   datetime64[ns]
stm_sap_storeind_ddt                 object
stm_fh_duur                         float64
realduur                            float64
dtype: object