# Data understanding en Preparation van de uitgebreide features (oorzaak groep, oorzaak code, prioriteit, contractgebied,  meldtijd)

De doel van dit project is een voorspellingsmodel bouwen waar we de verwachte reparatie tijd kan voorspellen op  base van een bepaalde probleem, locatie en tijdstip.

Aan de hand van deze doel hebben we voor deze features gekozen:
Deze 3 kolommn geven een duidelijke definitie van de probleem
* **Oorzaak groep - stm_oorz_groep**
* **Oorzaak code - stm_oorz_code**
* **Prioriteit - stm_prioriteit**
Deze kolom definieer de specifieke gebied waar de aannemer zit.
* **Contractgebied code- stm_contractgeb_gst**
Deze kolom geeft de tijd van de melding van een storing aan.
* **Tijd van de melding-   stm_sap_meldtijd**

## Data Understanding

In [3]:
# libraries importeren 
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# dataset inlezen 
feat = ['stm_oorz_groep', 'stm_oorz_code', 'stm_prioriteit','stm_contractgeb_gst','stm_sap_meldtijd', 'stm_aanntpl_dd','stm_aanntpl_tijd','stm_fh_ddt']
df = pd.read_csv('C:\Amaryllis_school_documents\Jaar_20_21\DDB\ddb_prorail\DDB_Prorail\data\sap_storing_data_hu_project.csv', low_memory=False, usecols=feat )

In [6]:
data = df[['stm_oorz_groep', 'stm_oorz_code', 'stm_prioriteit','stm_contractgeb_gst','stm_sap_meldtijd', 'stm_aanntpl_dd','stm_aanntpl_tijd','stm_fh_ddt']].copy()
data.loc[:, 'reparatietijd'] = (pd.to_datetime(data['stm_fh_ddt'], infer_datetime_format = True) -  pd.to_datetime(data.loc[:,'stm_aanntpl_dd']  +" "+ data['stm_aanntpl_tijd'], infer_datetime_format = True)).dt.total_seconds().div(60)

In [7]:
data.head()

,stm_oorz_groep,stm_oorz_code,stm_prioriteit,stm_contractgeb_gst,stm_sap_meldtijd,stm_aanntpl_dd,stm_aanntpl_tijd,stm_fh_ddt,reparatietijd
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ONR-RIB,133.0,9.0,81.0,09:00:00,NaN,00:00:00,02/01/2006 09:00:00,NaN
2,ONR-DERD,143.0,9.0,37.0,12:35:00,NaN,00:00:00,02/01/2006 13:26:00,NaN
3,ONR-DERD,142.0,9.0,32.0,16:40:00,NaN,00:00:00,02/01/2006 17:20:00,NaN
4,ONR-DERD,142.0,9.0,35.0,22:30:00,NaN,00:00:00,02/01/2006 22:36:00,NaN

In [9]:
data = data.drop(['stm_aanntpl_dd','stm_aanntpl_tijd','stm_fh_ddt'], axis= 1)

In [10]:
#Features variabelen  2:
data2 = data[['stm_oorz_groep', 'stm_oorz_code', 'stm_prioriteit', 'stm_contractgeb_gst', 'stm_sap_meldtijd', 'reparatietijd']].copy()
data2.head()

,stm_oorz_groep,stm_oorz_code,stm_prioriteit,stm_contractgeb_gst,stm_sap_meldtijd,reparatietijd
0,NaN,NaN,NaN,NaN,NaN,NaN
1,ONR-RIB,133.0,9.0,81.0,09:00:00,NaN
2,ONR-DERD,143.0,9.0,37.0,12:35:00,NaN
3,ONR-DERD,142.0,9.0,32.0,16:40:00,NaN
4,ONR-DERD,142.0,9.0,35.0,22:30:00,NaN

###### De meetniveaus van onze feature en target variabelen zijn de volgende:

*    stm_oorz_groep : Nominale waardes. Deze kolom moeten we encoden naar discrrete waardes
*    stm_oor_code : Nominale waardes. Deze kolom moeten we encoden naar discrrete waardes
*    stm_prioriteit : Continu waardes.
*    stm_contractgeb_gst : Nominale waardes. Deze kolom moeten we encoden naar discrrete waardes.
*    stm_sap_meldtijd:  Continu waardes. Deze tijden moeten worden verandert naar afgeronde uren. 
*    reparatietijd : Continu waardes.

Voor de tijd van de melding moeten de tijden worden afgerond naar uren.

In [11]:
# De dimensie van de df2 bekijken
data2.shape

(898526, 6)

In [12]:
#datatypes bepalen
data2.dtypes

stm_oorz_groep          object
stm_oorz_code          float64
stm_prioriteit         float64
stm_contractgeb_gst    float64
stm_sap_meldtijd        object
reparatietijd          float64
dtype: object

In [13]:
#kijken hoeveel Nan waardes er zijn.
data2.isnull().sum()

stm_oorz_groep          53430
stm_oorz_code           53413
stm_prioriteit            161
stm_contractgeb_gst       223
stm_sap_meldtijd           38
reparatietijd          214541
dtype: int64

In [14]:
# bereken aantal rijen die wordt verloren bij Nan waardes, kan denk ik gewoon verwijderd worden, is maar een heel klein aantal.
print('Rijen verloren door Nan oorzaakgroep : {}%'.format((data2['stm_oorz_groep'].isnull().sum()/845113)*100))
print('Rijen verloren door Nan oorzaakcode  : {}%'.format((data2['stm_oorz_code'].isnull().sum()/845113)*100))
print('Rijen verloren door Nan contractgebied : {}%'.format((data2['stm_contractgeb_gst'].isnull().sum()/898526)*100))
print('Rijen verloren door Nan meldtijd  : {}%'.format((data2['stm_sap_meldtijd'].isnull().sum()/898526)*100))
print('Rijen verloren door Nan reparatietijd  : {}%'.format((data2['reparatietijd'].isnull().sum()/845113)*100))

print('Totaal aantal rijen verloren : {} %'.format(data2.isnull().sum().sum()/898526*100))

Rijen verloren door Nan oorzaakgroep : 6.322231464904693%
Rijen verloren door Nan oorzaakcode  : 6.320219899587393%
Rijen verloren door Nan contractgebied : 0.02481842484246421%
Rijen verloren door Nan meldtijd  : 0.004229148627863857%
Rijen verloren door Nan reparatietijd  : 25.38607263170724%
Totaal aantal rijen verloren : 35.8148790352199 %

In [15]:
#de inhoud van de features bekijken

In [16]:
# Er wordt bekeken naar de codes die wel in data2 staat maar niet in de excel bestand(Contractgebiedcodes.xlsx) staan.
pd.read_excel('C:\Amaryllis_school_documents\Jaar_20_21\DDB\ddb_prorail\DDB_Prorail\data\Contractgebiedcodes.xlsx')['Code'].sort_values().unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 51, 52, 58, 59, 60, 61, 63, 70, 71, 81, 99],
      dtype=int64)

In [17]:
# Nog even kijken of er codes in het excel bestand staan die hier missen en andersom.
data2['stm_contractgeb_gst'][data2['stm_contractgeb_gst'].notnull()].sort_values().unique()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 50.,
       51., 52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63.,
       64., 70., 71., 81., 82., 83., 99.])

Er was in de excel bestand ekeken en de volgende codes kwamen niet voor:
 50., 53., 54., 55., 56., 57., 62., 64., 82., 83.

In [18]:
# Aantl codes in de excel bestand
len(data2['stm_contractgeb_gst'].unique())

60

In [19]:
# we gaan de aantal rijen bepalen die de codes 50., 53., 54., 55., 56., 57., 62., 64., 82., 83 bevatten.
aantalcodes = len(data2[data2['stm_contractgeb_gst'].isin([17,50, 53, 54, 55, 56, 57, 62, 64, 82, 83])])
# aantal waardes dat verloren zou gaan als we het verwijderen. (in procenten)
print('Aantal rijen dat verloren zou gaan in percentage: {}%'.format(aantalcodes/len(data2)*100))

Aantal rijen dat verloren zou gaan in percentage: 5.0886674397847145%

## Data Preparation

In [20]:
# Alle Nan waardes verwijderen 
data2 = data2.dropna()

In [21]:
#Controle
data2.isnull().sum()

stm_oorz_groep         0
stm_oorz_code          0
stm_prioriteit         0
stm_contractgeb_gst    0
stm_sap_meldtijd       0
reparatietijd          0
dtype: int64

In [22]:
#niet behorende contract gebied codes verwijderen:[ 50., 53., 54., 55., 56., 57., 62., 64., 82., 83.]
data2 = data2[(data2['stm_contractgeb_gst'].isin([17, 50, 53, 54, 55, 56, 57, 62, 64, 82, 83]))== False]
# niet behorende oorzaak codes verwijderen:[ 33, 48,51 en 999 ]
data2 = data2[(data2['stm_oorz_code'].isin([33, 48, 51, 999])) == False]

In [23]:
#we verwijdert alles behalve de laatse , omdat dit als laats toegevoegd(meeste recente storing)
print(len(data2[data2.duplicated(keep='last') == False]))
data2 = data2[data2.duplicated(keep='last') == False]

422906

In [24]:
data2['stm_contractgeb_gst'].sort_values().unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 18., 19., 20., 21., 22., 23., 24., 25., 26., 27.,
       28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 51., 52., 58.,
       59., 60., 61., 63., 70., 71., 81., 99.])

In [25]:
# oorzaak groep, ooorzaak code en contract gebied codes encoden
data2 = pd.get_dummies(data2, columns = ['stm_oorz_groep'])
data2 = pd.get_dummies(data2, columns = ['stm_oorz_code'])
data2 = pd.get_dummies(data2, columns = ['stm_contractgeb_gst'])

In [26]:
#Bij het omzetten naat datetime kregennn we een error dat '::' niet kan omgezet worden. We gaan nu kijken naar alle rijen die '::'
#als meldtijd heeft.
data2[data2['stm_sap_meldtijd']=="::"].head()

,stm_prioriteit,stm_sap_meldtijd,reparatietijd,stm_oorz_groep_ONR-DERD,stm_oorz_groep_ONR-RIB,stm_oorz_groep_TECHONV,stm_oorz_groep_WEER,stm_oorz_code_130.0,stm_oorz_code_131.0,stm_oorz_code_132.0,...,stm_contractgeb_gst_52.0,stm_contractgeb_gst_58.0,stm_contractgeb_gst_59.0,stm_contractgeb_gst_60.0,stm_contractgeb_gst_61.0,stm_contractgeb_gst_63.0,stm_contractgeb_gst_70.0,stm_contractgeb_gst_71.0,stm_contractgeb_gst_81.0,stm_contractgeb_gst_99.0
145284,4.0,::,13.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
228778,5.0,::,29.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
234564,1.0,::,85.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238027,2.0,::,5.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239817,2.0,::,75.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
# aantal rijen die '::' als melldtijd heeft
len(data2[data2['stm_sap_meldtijd']=="::"])

49

In [28]:
#Deze 49 rijen kunne we uit onze data uithalen
data2 = data2[data2['stm_sap_meldtijd']!="::"]

In [29]:
# Tijd van de melding moet afgerond worden ,van  een string en in de format hh:mm:ss, 
#naar datetime/int en in de format uren. 

data2['stm_sap_meldtijd_uren'] = round(pd.to_timedelta(data2['stm_sap_meldtijd']).dt.total_seconds().div(3600)).astype(int)

In [30]:
# Er zal in deze kolom de waardes 0 en 24. Deze zijn in principe 12:00 s'nacht, dus we kunnen alle waardes van 24 veranderen naar 0.
data2['stm_sap_meldtijd_uren']= data2['stm_sap_meldtijd_uren'].replace(24, 0)

In [31]:
#Controle
data2['stm_sap_meldtijd_uren'].sort_values().unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [32]:
# In onze meldtijden zijn gecategoriseerd in uren. Weh hebben nu te maken met een nominale waardes dus we moeten dit encoden met get_dummies.
data2 = pd.get_dummies(data2, columns = ['stm_sap_meldtijd_uren'])

In [33]:
data2.head()

,stm_prioriteit,stm_sap_meldtijd,reparatietijd,stm_oorz_groep_ONR-DERD,stm_oorz_groep_ONR-RIB,stm_oorz_groep_TECHONV,stm_oorz_groep_WEER,stm_oorz_code_130.0,stm_oorz_code_131.0,stm_oorz_code_132.0,...,stm_sap_meldtijd_uren_14,stm_sap_meldtijd_uren_15,stm_sap_meldtijd_uren_16,stm_sap_meldtijd_uren_17,stm_sap_meldtijd_uren_18,stm_sap_meldtijd_uren_19,stm_sap_meldtijd_uren_20,stm_sap_meldtijd_uren_21,stm_sap_meldtijd_uren_22,stm_sap_meldtijd_uren_23
19177,9.0,07:23:00,0.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19220,9.0,07:00:00,0.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20735,9.0,19:38:00,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
21228,9.0,07:12:00,0.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22779,9.0,14:00:00,1.0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [34]:
# stm_sap_meldtijd kunnen we verwijderen, omdat we ggebruiken deze kolom niet meer.
data2 = data2.drop('stm_sap_meldtijd', axis  = 1)

In [35]:
# Data selectie waar we alle rijen pakken di een reparatietijd heeft 
data2 = data2[(data2['reparatietijd'] >= 15) & (data2['reparatietijd'] <=  480)]

In [36]:
# attributen bekijken van de opgeschone dat 
data2.describe(include=  'all')

,stm_prioriteit,reparatietijd,stm_oorz_groep_ONR-DERD,stm_oorz_groep_ONR-RIB,stm_oorz_groep_TECHONV,stm_oorz_groep_WEER,stm_oorz_code_130.0,stm_oorz_code_131.0,stm_oorz_code_132.0,stm_oorz_code_133.0,...,stm_sap_meldtijd_uren_14,stm_sap_meldtijd_uren_15,stm_sap_meldtijd_uren_16,stm_sap_meldtijd_uren_17,stm_sap_meldtijd_uren_18,stm_sap_meldtijd_uren_19,stm_sap_meldtijd_uren_20,stm_sap_meldtijd_uren_21,stm_sap_meldtijd_uren_22,stm_sap_meldtijd_uren_23
count,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,...,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000
mean,3.747905,78.006977,0.191611,0.105801,0.654022,0.048566,0.000145,0.000198,0.003603,0.050159,...,0.064972,0.055642,0.055440,0.047823,0.040793,0.035343,0.034132,0.031070,0.027318,0.020636
std,1.382578,75.393844,0.393569,0.307583,0.475687,0.214960,0.012046,0.014078,0.059919,0.218274,...,0.246477,0.229229,0.228838,0.213392,0.197812,0.184644,0.181568,0.173508,0.163010,0.142161
min,1.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,52.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,95.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,480.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [38]:
#Sla data2 op in een pkl bestand  
data2.to_pickle("data2.pkl")

## Herbruikbare functie
Er is bedacht omde data preparation in een herbruikbare te maken waar e  dit makkelijkin de dashboard ebruikt kan worden.

In [43]:
def data_opschonen(file):
    'de gegeven dataset met onze benodigde feature en target variabelen opschonen'
    
    benodigde_columns = ['stm_oorz_groep', 'stm_oorz_code', 'stm_prioriteit','stm_contractgeb_gst',
                        'stm_sap_meldtijd','stm_aanntpl_dd','stm_aanntpl_tijd','stm_fh_ddt']
    
    #benodigde kolommen inlezen en in een dataframe zetten
    dataset= pd.read_csv(file, low_memory=False, usecols= benodigde_columns)
    #reparatietijd berekenen
    dataset.loc[:, 'reparatietijd'] = (pd.to_datetime(dataset['stm_fh_ddt']) -  pd.to_datetime(dataset.loc[:,'stm_aanntpl_dd']  +" "+ dataset['stm_aanntpl_tijd'])).dt.total_seconds().div(60)
    # de kolommen, die we hadden gebruikt om de reparatietijd te berekenen, verwijderen
    dataset = dataset.drop(['stm_aanntpl_dd','stm_aanntpl_tijd','stm_fh_ddt'], axis= 1)
    dataset = dataset.dropna() # NaN waardes verwijderen
    
    #Onbenodigde rijen verwidjeren die een verkeerd waardes bevatten in onze features.
    dataset = dataset[(dataset['stm_contractgeb_gst'].isin([17,50, 53, 54, 55, 56, 57, 62, 64, 82, 83]))== False] 
    dataset = dataset[(dataset['stm_oorz_code'].isin([33, 48, 51, 999])) == False]
    dataset = dataset[dataset['stm_sap_meldtijd']!="::"]
    
    dataset = dataset[dataset.duplicated(keep='last') == False] # alle dubbele waardes verwijderen
    
    # De meldtijd transformeren in uren
    dataset['stm_sap_meldtijd_uren'] = round(pd.to_timedelta(dataset['stm_sap_meldtijd']).dt.total_seconds().div(3600)).astype(int)
    
    # De oorzaak groep,oorzaak code en contractgebied codes encoden met get_dummies
    dataset = pd.get_dummies(dataset, columns = ['stm_oorz_groep','stm_oorz_code','stm_contractgeb_gst','stm_sap_meldtijd_uren'])
    
    dataset = dataset.drop('stm_sap_meldtijd', axis  = 1) # stm_sap_meldtijd verwijderen
    
    #data selectie : de reparatietijd tussen 15 minuten en 8 uren (480 minuten)
    dataset = dataset[(dataset['reparatietijd'] >= 15) & (dataset['reparatietijd'] <=  480)]
    
    # Opgeschone data opslaan in pickle bestand
    #dataset.to_pickle("dataset_schoon.pkl")
    return dataset

In [44]:
df3 = data_opschonen('C:\Amaryllis_school_documents\Jaar_20_21\DDB\ddb_prorail\DDB_Prorail\data\sap_storing_data_hu_project.csv')

In [45]:
df3.describe()

,stm_prioriteit,reparatietijd,stm_oorz_groep_ONR-DERD,stm_oorz_groep_ONR-RIB,stm_oorz_groep_TECHONV,stm_oorz_groep_WEER,stm_oorz_code_130.0,stm_oorz_code_131.0,stm_oorz_code_132.0,stm_oorz_code_133.0,...,stm_sap_meldtijd_uren_15,stm_sap_meldtijd_uren_16,stm_sap_meldtijd_uren_17,stm_sap_meldtijd_uren_18,stm_sap_meldtijd_uren_19,stm_sap_meldtijd_uren_20,stm_sap_meldtijd_uren_21,stm_sap_meldtijd_uren_22,stm_sap_meldtijd_uren_23,stm_sap_meldtijd_uren_24
count,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,...,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000,282521.000000
mean,3.747905,78.006977,0.191611,0.105801,0.654022,0.048566,0.000145,0.000198,0.003603,0.050159,...,0.055642,0.055440,0.047823,0.040793,0.035343,0.034132,0.031070,0.027318,0.020636,0.011812
std,1.382578,75.393844,0.393569,0.307583,0.475687,0.214960,0.012046,0.014078,0.059919,0.218274,...,0.229229,0.228838,0.213392,0.197812,0.184644,0.181568,0.173508,0.163010,0.142161,0.108037
min,1.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,52.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,95.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,480.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000