# Linear Regression 2

In [1]:
# libraries importeren 
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df2 = pd.read_pickle('data2.pkl')
df2.head()

,stm_prioriteit,reparatietijd,stm_oorz_groep_ONR-DERD,stm_oorz_groep_ONR-RIB,stm_oorz_groep_TECHONV,stm_oorz_groep_WEER,stm_oorz_code_130.0,stm_oorz_code_131.0,stm_oorz_code_132.0,stm_oorz_code_133.0,...,stm_contractgeb_gst_58.0,stm_contractgeb_gst_59.0,stm_contractgeb_gst_60.0,stm_contractgeb_gst_61.0,stm_contractgeb_gst_63.0,stm_contractgeb_gst_70.0,stm_contractgeb_gst_71.0,stm_contractgeb_gst_81.0,stm_contractgeb_gst_99.0,stm_sap_meldtijd_uren
32099,9.0,40.000000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21
86473,9.0,228.650000,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,16
91875,9.0,220.316667,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
92852,9.0,55.000000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
93767,9.0,15.233333,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12

In [3]:
def linearRegression(features, target):
    x_train, x_test, y_train, y_test = train_test_split(features, target) # splitsen in traiining en testing dataset
    # Geeft de dimensie van de opgesplitste datasets
    print(x_train.shape)
    print(y_train.shape)
    print(x_test.shape)
    print(y_test.shape)
    linreg = LinearRegression()
    #fit model 
    linreg.fit(x_train, y_train)
    # Make prediction
    y_pred = linreg.predict(x_test)
    #Evaluate mbh van RMSE
    lrscore = np.sqrt(mse(y_test, y_pred))
    return lrscore

In [4]:
features=  df2.drop('reparatietijd', axis = 1)
target = df2['reparatietijd']

In [5]:
lrscore2 = linearRegression(features, target)
lrscore2

(212754, 125)
(212754,)
(70918, 125)
(70918,)

73.58323808598111

Uit Linear regression 1, kwamenwe  met de volgende scores:
* Baseline model : 112.25910075267038
* Linear Regression 1: 104.09998662517367
    * Er is een verbeting van relatiief 7.2

In [6]:
# Bereken de afwijkinng van de baseline model 
scorebaseline= 112.25910075267038
((scorebaseline - lrscore2 )/ scorebaseline)*100

34.452318259612696

Er is een verbetering van 35% mett de Linear reagression 2. Dit is hoger dan de verbetering van 7,2 % van Linear Regression 1. Dit is een betere model om toe te passen.

In [7]:
#uitzoeken hoe betrouwbaar is?

In [8]:
df = pd.read_csv('Validatieset 2020-2021 CSV.csv', delimiter=';')

In [9]:
df.dtypes

ID                             int64
#stm_sap_meldnr                int64
stm_mon_nr                   float64
stm_vl_post                   object
stm_sap_meld_ddt              object
                              ...
stm_progfh_in_invoer_dat      object
stm_progfh_in_invoer_tijd     object
stm_progfh_in_duur             int64
stm_progfh_gw_datum           object
stm_progfh_gw_tijd            object
Length: 133, dtype: object

In [10]:
data2 = df[['stm_oorz_groep', 'stm_oorz_code', 'stm_prioriteit', 'stm_contractgeb_gst', 'stm_sap_meldtijd']].copy()
data2

,stm_oorz_groep,stm_oorz_code,stm_prioriteit,stm_contractgeb_gst,stm_sap_meldtijd
0,ONR-DERD,148.0,2.0,33.0,17:15:14
1,TECHONV,218.0,2.0,33.0,13:37:55
2,ONR-RIB,130.0,1.0,27.0,17:10:22

In [11]:
data2 = pd.get_dummies(data2, columns = ['stm_oorz_groep'])
data2 = pd.get_dummies(data2, columns = ['stm_oorz_code'])
data2 = pd.get_dummies(data2, columns = ['stm_contractgeb_gst'])

In [12]:
data2['stm_sap_meldtijd_uren'] = round(pd.to_timedelta(data2['stm_sap_meldtijd']).dt.total_seconds().div(3600)).astype(int)

In [13]:
data2

,stm_prioriteit,stm_sap_meldtijd,stm_oorz_groep_ONR-DERD,stm_oorz_groep_ONR-RIB,stm_oorz_groep_TECHONV,stm_oorz_code_130.0,stm_oorz_code_148.0,stm_oorz_code_218.0,stm_contractgeb_gst_27.0,stm_contractgeb_gst_33.0,stm_sap_meldtijd_uren
0,2.0,17:15:14,1,0,0,0,1,0,0,1,17
1,2.0,13:37:55,0,0,1,0,0,1,0,1,14
2,1.0,17:10:22,0,1,0,1,0,0,1,0,17

In [14]:
data2 = data2.drop('stm_sap_meldtijd', axis  = 1)

In [15]:
x_train, x_test, y_train, y_test = train_test_split(features, target) # splitsen in traiining en testing dataset
# Geeft de dimensie van de opgesplitste datasets
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)
linreg = LinearRegression()
#fit model 
linreg.fit(x_train, y_train)

(212754, 125)
(212754,)
(70918, 125)
(70918,)

LinearRegression()

In [16]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [17]:
data3 = pd.DataFrame(data=None, columns=features.columns)
data3

Empty DataFrame
Columns: [stm_prioriteit, stm_oorz_groep_ONR-DERD, stm_oorz_groep_ONR-RIB, stm_oorz_groep_TECHONV, stm_oorz_groep_WEER, stm_oorz_code_130.0, stm_oorz_code_131.0, stm_oorz_code_132.0, stm_oorz_code_133.0, stm_oorz_code_134.0, stm_oorz_code_135.0, stm_oorz_code_136.0, stm_oorz_code_139.0, stm_oorz_code_140.0, stm_oorz_code_141.0, stm_oorz_code_142.0, stm_oorz_code_143.0, stm_oorz_code_144.0, stm_oorz_code_145.0, stm_oorz_code_146.0, stm_oorz_code_147.0, stm_oorz_code_148.0, stm_oorz_code_149.0, stm_oorz_code_150.0, stm_oorz_code_151.0, stm_oorz_code_154.0, stm_oorz_code_180.0, stm_oorz_code_181.0, stm_oorz_code_182.0, stm_oorz_code_183.0, stm_oorz_code_184.0, stm_oorz_code_185.0, stm_oorz_code_186.0, stm_oorz_code_187.0, stm_oorz_code_188.0, stm_oorz_code_189.0, stm_oorz_code_201.0, stm_oorz_code_202.0, stm_oorz_code_203.0, stm_oorz_code_204.0, stm_oorz_code_205.0, stm_oorz_code_206.0, stm_oorz_code_207.0, stm_oorz_code_208.0, stm_oorz_code_209.0, stm_oorz_code_210.0, stm_oorz_code_211.0, stm_oorz_code_212.0, stm_oorz_code_213.0, stm_oorz_code_214.0, stm_oorz_code_215.0, stm_oorz_code_218.0, stm_oorz_code_219.0, stm_oorz_code_220.0, stm_oorz_code_221.0, stm_oorz_code_222.0, stm_oorz_code_223.0, stm_oorz_code_224.0, stm_oorz_code_225.0, stm_oorz_code_226.0, stm_oorz_code_227.0, stm_oorz_code_228.0, stm_oorz_code_229.0, stm_oorz_code_230.0, stm_oorz_code_231.0, stm_oorz_code_233.0, stm_oorz_code_234.0, stm_oorz_code_235.0, stm_oorz_code_239.0, stm_oorz_code_240.0, stm_oorz_code_241.0, stm_oorz_code_242.0, stm_oorz_code_250.0, stm_oorz_code_294.0, stm_oorz_code_298.0, stm_oorz_code_299.0, stm_contractgeb_gst_1.0, stm_contractgeb_gst_2.0, stm_contractgeb_gst_3.0, stm_contractgeb_gst_4.0, stm_contractgeb_gst_5.0, stm_contractgeb_gst_6.0, stm_contractgeb_gst_7.0, stm_contractgeb_gst_8.0, stm_contractgeb_gst_9.0, stm_contractgeb_gst_10.0, stm_contractgeb_gst_11.0, stm_contractgeb_gst_12.0, stm_contractgeb_gst_13.0, stm_contractgeb_gst_14.0, stm_contractgeb_gst_15.0, stm_contractgeb_gst_16.0, stm_contractgeb_gst_17.0, stm_contractgeb_gst_18.0, stm_contractgeb_gst_19.0, stm_contractgeb_gst_20.0, stm_contractgeb_gst_21.0, stm_contractgeb_gst_22.0, stm_contractgeb_gst_23.0, stm_contractgeb_gst_24.0, ...]
Index: []

[0 rows x 125 columns]

In [18]:
data3 = data3.append(data2)
data3 = data3.fillna(0)
data3

,stm_prioriteit,stm_oorz_groep_ONR-DERD,stm_oorz_groep_ONR-RIB,stm_oorz_groep_TECHONV,stm_oorz_groep_WEER,stm_oorz_code_130.0,stm_oorz_code_131.0,stm_oorz_code_132.0,stm_oorz_code_133.0,stm_oorz_code_134.0,...,stm_contractgeb_gst_58.0,stm_contractgeb_gst_59.0,stm_contractgeb_gst_60.0,stm_contractgeb_gst_61.0,stm_contractgeb_gst_63.0,stm_contractgeb_gst_70.0,stm_contractgeb_gst_71.0,stm_contractgeb_gst_81.0,stm_contractgeb_gst_99.0,stm_sap_meldtijd_uren
0,2.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
1,2.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
2,1.0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17

In [19]:
# data3 = pd.DataFrame().reindex_like(features)
# data3

In [20]:
y_pred = linreg.predict(data3)

In [21]:
data4 = df[['stm_aanntpl_dd','stm_aanntpl_tijd','stm_fh_ddt']].copy()

In [22]:
data4.loc[:, 'reparatietijd'] = (pd.to_datetime(data4['stm_fh_ddt']) -  pd.to_datetime(data4.loc[:,'stm_aanntpl_dd']  +" "+ data4['stm_aanntpl_tijd'])).dt.total_seconds().div(60)

In [23]:
data4

  stm_aanntpl_dd stm_aanntpl_tijd           stm_fh_ddt  reparatietijd
0     25/05/2017         18:00:01  25/05/2017 18:15:00      14.983333
1     25/05/2018         14:40:00  25/05/2018 14:40:01       0.016667
2     11/01/2018         17:26:56  11/01/2018 18:36:55      69.983333

In [24]:
lrscore = np.sqrt(mse(data4['reparatietijd'], y_pred))
lrscore

42.69110629292088