# Linear Regression 2

We zullen in deze notebook een Linear Regression model maken die de reparatietijd  voorspelt op<br> base van de uitgebreide gekozen features *oorzaak groep, oorzaak code,  prioriteit,  <br>contractgebied codes en de meldtijd * <br>
Deze features en taret zijn al opggeschoond in de notebook Data_understanding_Preparation_Nieuwe_Features.ipynb.

In [1]:
# libraries importeren 
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# De dataset die we hadden opgeschoond en opgeslaan in een pickle bestand inlezen.
df = pd.read_pickle('data2.pkl')
df.head()

,stm_prioriteit,reparatietijd,stm_oorz_groep_ONR-DERD,stm_oorz_groep_ONR-RIB,stm_oorz_groep_TECHONV,stm_oorz_groep_WEER,stm_oorz_code_130.0,stm_oorz_code_131.0,stm_oorz_code_132.0,stm_oorz_code_133.0,...,stm_sap_meldtijd_uren_14,stm_sap_meldtijd_uren_15,stm_sap_meldtijd_uren_16,stm_sap_meldtijd_uren_17,stm_sap_meldtijd_uren_18,stm_sap_meldtijd_uren_19,stm_sap_meldtijd_uren_20,stm_sap_meldtijd_uren_21,stm_sap_meldtijd_uren_22,stm_sap_meldtijd_uren_23
32099,9.0,40.000000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
86473,9.0,228.650000,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
91875,9.0,220.316667,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
92852,9.0,55.000000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93767,9.0,15.233333,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
def linearRegression(features, target):
    'Bouwt een Linear Regressioon modelen geeft terug de model en de accuracy van de gegeven features en target variabelen'
    x_train, x_test, y_train, y_test = train_test_split(features, target) # splitsen in traiining en testing dataset
    # Geeft de dimensie van de opgesplitste datasets
    print(x_train.shape)
    print(y_train.shape)
    print(x_test.shape)
    print(y_test.shape)
    linreg = LinearRegression()
    #fit model 
    linreg.fit(x_train, y_train)
    # Make prediction
    y_pred = linreg.predict(x_test)
    #Evaluate mbh van RMSE
    lrscore = np.sqrt(mse(y_test, y_pred))
    return linreg,  lrscore

In [30]:
#Data opsplitsenn in feature en target 
features=  df.drop('reparatietijd', axis = 1)
target = df['reparatietijd']

In [32]:
# Linear Regresion op features en taret toepassen en de score weergeven
linreg, lrscore2 = linearRegression(features, target)
lrscore2

(211890, 147)
(211890,)
(70631, 147)
(70631,)

73.19529291559071

Uit Linear regression 1, kwamenwe  met de volgende scores:
* Baseline model : 112.25910075267038
* Linear Regression 1: 104.09998662517367
    * Er is een verbeting van relatiief 7.2

In [6]:
# Bereken de afwijkinng van de baseline model 
scorebaseline= 112.25910075267038
((scorebaseline - lrscore2 )/ scorebaseline)*100

34.866570164615574

Er is een verbetering van 35% met de Linear reagression 2. <br> Dit is hoger dan de verbetering van 7,2 % van Linear Regression 1. Dit is een betere model om toe te passen.

## Validatie model

In [7]:
vadata = pd.read_csv('C:\Amaryllis_school_documents\Jaar_20_21\DDB\ddb_prorail\DDB_Prorail\data\Validatieset 2020-2021 CSV.csv', delimiter= ';')
data2 = vadata[['stm_oorz_groep', 'stm_oorz_code', 'stm_prioriteit', 'stm_contractgeb_gst', 'stm_sap_meldtijd']].copy()
data2

,stm_oorz_groep,stm_oorz_code,stm_prioriteit,stm_contractgeb_gst,stm_sap_meldtijd
0,ONR-DERD,148.0,2.0,33.0,17:15:14
1,TECHONV,218.0,2.0,33.0,13:37:55
2,ONR-RIB,130.0,1.0,27.0,17:10:22

In [8]:
data2 = pd.get_dummies(data2, columns = ['stm_oorz_groep'])
data2 = pd.get_dummies(data2, columns = ['stm_oorz_code'])
data2 = pd.get_dummies(data2, columns = ['stm_contractgeb_gst'])

In [9]:
data2['stm_sap_meldtijd_uren'] = round(pd.to_timedelta(data2['stm_sap_meldtijd']).dt.total_seconds().div(3600)).astype(int)

In [10]:
data2 = data2.drop('stm_sap_meldtijd', axis  = 1)

In [11]:
data2 = pd.get_dummies(data2, columns = ['stm_sap_meldtijd_uren'])

In [12]:
data2

,stm_prioriteit,stm_oorz_groep_ONR-DERD,stm_oorz_groep_ONR-RIB,stm_oorz_groep_TECHONV,stm_oorz_code_130.0,stm_oorz_code_148.0,stm_oorz_code_218.0,stm_contractgeb_gst_27.0,stm_contractgeb_gst_33.0,stm_sap_meldtijd_uren_14,stm_sap_meldtijd_uren_17
0,2.0,1,0,0,0,1,0,0,1,0,1
1,2.0,0,0,1,0,0,1,0,1,1,0
2,1.0,0,1,0,1,0,0,1,0,0,1

In [13]:
#model

In [14]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [15]:
data3 = pd.DataFrame(data=None, columns=features.columns)
data3

Empty DataFrame
Columns: [stm_prioriteit, stm_oorz_groep_ONR-DERD, stm_oorz_groep_ONR-RIB, stm_oorz_groep_TECHONV, stm_oorz_groep_WEER, stm_oorz_code_130.0, stm_oorz_code_131.0, stm_oorz_code_132.0, stm_oorz_code_133.0, stm_oorz_code_134.0, stm_oorz_code_135.0, stm_oorz_code_136.0, stm_oorz_code_139.0, stm_oorz_code_140.0, stm_oorz_code_141.0, stm_oorz_code_142.0, stm_oorz_code_143.0, stm_oorz_code_144.0, stm_oorz_code_145.0, stm_oorz_code_146.0, stm_oorz_code_147.0, stm_oorz_code_148.0, stm_oorz_code_149.0, stm_oorz_code_150.0, stm_oorz_code_151.0, stm_oorz_code_154.0, stm_oorz_code_180.0, stm_oorz_code_181.0, stm_oorz_code_182.0, stm_oorz_code_183.0, stm_oorz_code_184.0, stm_oorz_code_185.0, stm_oorz_code_186.0, stm_oorz_code_187.0, stm_oorz_code_188.0, stm_oorz_code_189.0, stm_oorz_code_201.0, stm_oorz_code_202.0, stm_oorz_code_203.0, stm_oorz_code_204.0, stm_oorz_code_205.0, stm_oorz_code_206.0, stm_oorz_code_207.0, stm_oorz_code_208.0, stm_oorz_code_209.0, stm_oorz_code_210.0, stm_oorz_code_211.0, stm_oorz_code_212.0, stm_oorz_code_213.0, stm_oorz_code_214.0, stm_oorz_code_215.0, stm_oorz_code_218.0, stm_oorz_code_219.0, stm_oorz_code_220.0, stm_oorz_code_221.0, stm_oorz_code_222.0, stm_oorz_code_223.0, stm_oorz_code_224.0, stm_oorz_code_225.0, stm_oorz_code_226.0, stm_oorz_code_227.0, stm_oorz_code_228.0, stm_oorz_code_229.0, stm_oorz_code_230.0, stm_oorz_code_231.0, stm_oorz_code_233.0, stm_oorz_code_234.0, stm_oorz_code_235.0, stm_oorz_code_239.0, stm_oorz_code_240.0, stm_oorz_code_241.0, stm_oorz_code_242.0, stm_oorz_code_250.0, stm_oorz_code_294.0, stm_oorz_code_298.0, stm_oorz_code_299.0, stm_contractgeb_gst_1.0, stm_contractgeb_gst_2.0, stm_contractgeb_gst_3.0, stm_contractgeb_gst_4.0, stm_contractgeb_gst_5.0, stm_contractgeb_gst_6.0, stm_contractgeb_gst_7.0, stm_contractgeb_gst_8.0, stm_contractgeb_gst_9.0, stm_contractgeb_gst_10.0, stm_contractgeb_gst_11.0, stm_contractgeb_gst_12.0, stm_contractgeb_gst_13.0, stm_contractgeb_gst_14.0, stm_contractgeb_gst_15.0, stm_contractgeb_gst_16.0, stm_contractgeb_gst_18.0, stm_contractgeb_gst_19.0, stm_contractgeb_gst_20.0, stm_contractgeb_gst_21.0, stm_contractgeb_gst_22.0, stm_contractgeb_gst_23.0, stm_contractgeb_gst_24.0, stm_contractgeb_gst_25.0, ...]
Index: []

[0 rows x 147 columns]

In [16]:
data3 = data3.append(data2)
data3 = data3.fillna(0)
data3

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,stm_contractgeb_gst_1.0,stm_contractgeb_gst_10.0,stm_contractgeb_gst_11.0,stm_contractgeb_gst_12.0,stm_contractgeb_gst_13.0,stm_contractgeb_gst_14.0,stm_contractgeb_gst_15.0,stm_contractgeb_gst_16.0,stm_contractgeb_gst_18.0,stm_contractgeb_gst_19.0,...,stm_sap_meldtijd_uren_21,stm_sap_meldtijd_uren_22,stm_sap_meldtijd_uren_23,stm_sap_meldtijd_uren_3,stm_sap_meldtijd_uren_4,stm_sap_meldtijd_uren_5,stm_sap_meldtijd_uren_6,stm_sap_meldtijd_uren_7,stm_sap_meldtijd_uren_8,stm_sap_meldtijd_uren_9
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
y_pred = linreg.predict(data3)

In [18]:
y_pred

array([-4.03874335e+12,  1.77431317e+13, -1.38078935e+13])

In [19]:
data4 = vadata[['stm_aanntpl_dd','stm_aanntpl_tijd','stm_fh_ddt']].copy()

In [20]:
data4.loc[:, 'reparatietijd'] = (pd.to_datetime(data4['stm_fh_ddt']) -  pd.to_datetime(data4.loc[:,'stm_aanntpl_dd']  +" "+ data4['stm_aanntpl_tijd'])).dt.total_seconds().div(60)

In [21]:
data4

  stm_aanntpl_dd stm_aanntpl_tijd           stm_fh_ddt  reparatietijd
0     25/05/2017         18:00:01  25/05/2017 18:15:00      14.983333
1     25/05/2018         14:40:00  25/05/2018 14:40:01       0.016667
2     11/01/2018         17:26:56  11/01/2018 18:36:55      69.983333

In [33]:
validatiescore = np.sqrt(mse(data4['reparatietijd'], y_pred))
validatiescore

13188228220091.521